
input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}
  
.loginTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5%;
    height: 100%;

    box-shadow: 0px 0px 12px 0.8px #2d3f2fb2;

    
}

.registerTile {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 100%;
    height: 100%;
    align-items: center;

    box-shadow: 0px 0px 12px 0.8px #2d3f2fb2;


}

.userTileTitle{
    margin-bottom: 8%;
    margin-top: 2%;
}


.loginBanner{
    width: 100%;
    text-align: center;
    margin-bottom: 6%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    text-align: center;
}

.userBlockContainer{
    background-color: rgba(116, 233, 116, 0.719);
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userBlockContent{
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;

}

.userCredsContainer{
    
}

.transactionGroupContainer{
    background-color: rgba(128, 128, 128, 0.377);
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactionGroupContent{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    width: 90%;
}

.transactionListGroup{
    margin-top: 15%;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.transactionDetailsContainer{
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
}

.transactionDetailsContent{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    
   
}

.detailsContainer{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transactionsList{
    width: 80%;
    
}
